{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}

  

<div class="container">
    <form action="/" method="POST">
    <input class="button" style="--color:#1e9bff;" type="submit" name="content" id="content" value="love">
    </form>
     
    </a>
    <br>
    <form action="/" method="POST">
   

      <input class="button" style="--color: #ff1867;" type="submit"  name="content" id="content" value="Blood">
           
  
    </form>
    <br>
    <form action="/" method="POST">
    <input class="button"  style="--color: #6eff3e;" type="submit" name = "content" id="content" value="donate">
    </form>  
    <span></span>
      <span></span>
      <span></span>
      <span></span>
      
    </a>
    <br>
  </div>
<div><a href="/history/" style="--color: #f2f7f1;">History</a></div>
  



{% endblock %}